*{
        box-sizing: border-box;
}

body {
    background-color: black;
    color: #f4f4f4;
}

header {
    background: black;
    padding: 1em;
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    color: #ffe082;
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 0 2px 8px #000a;
    font-weight: bold;
    font-style: italic;
}

h2{
    text-align: center;
    font-weight: bold;
    margin: 30px;
    color: #b3e5fc;
}

form{
    max-width: 400px;
    margin: auto;
    padding: 1.5em;
    background: #f4f7f874;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

  label {
    display: block;
    margin-top:0.5em;
    font-weight: bold;
    cursor: pointer;
  }

  .inputs{
    width: 100%;
    font-size: larger;
    padding: 0.9em;
    margin-bottom: 1.2em;
    border-radius: 4px;
    cursor: pointer;

  }

  #buttonsubmit{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #1d82c5;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
  }

  #buttonsubmit:hover{
    background-color: #398fc8;
  }

    #buttonsubmit:active{
        background-color: #6bb4e4;
 }

 table{
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #398fc8;
 }
 
 th, td{
    border: 1px solid white;
    padding: 12px 20px;
    text-align: center;
 }

   th {
    background-color: rgb(16, 158, 158);
    color: white;
    font-weight: bold;
}

 a{
    color: rgb(1, 255, 255);
}

.deleteButton{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(194, 2, 2);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
.deleteButton:hover{
    background-color: rgb(201, 71, 71);
  }
.deleteButton:active{
    background-color: rgb(181, 105, 105);
  }

  .rsvbButton{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(194, 2, 2);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
.rsvbButton:hover{
    background-color: rgb(201, 71, 71);
  }
.rsvbButton:active{
    background-color: rgb(181, 105, 105);
  }


